<mat-card>
    <mat-card-header>{{title}}</mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-card id="setup">{{setup}}</mat-card>
        <mat-card id="punchline">{{brokenJoke}}</mat-card>
    </mat-card-content>
    <mat-card-content>
        <mat-card>
            <mat-form-field enctype="application/x-www-form-urlencoded" method="post">
                <input matInput #entry placeholder="The joke is broken, repair it now!">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="submitEntry(entry.value)">Submit</button>
        </mat-card>

    </mat-card-content>
</mat-card>